doctype html
head
	title San Marcos

	meta(charset="utf-8")
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	meta(name="description" content="")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100")
	link(rel="stylesheet" href="css/bootstrap.min.css")
	link(rel="stylesheet" href="css/bootstrap-theme.min.css")
	link(rel="stylesheet" href="css/normalize.css")
	link(rel="stylesheet" href="css/custom.css")

	script(src="js/jquery.min.js")
	script(src="js/bootstrap.min.js")
body
	header
		.container
			.row
				.col-md-12
					img(src="img/logo.png")

	section.main
		.container
			.row
				.col-md-12
					.box-txt
						h1 Programa para el Fortalecimiento de las Capacidades Docentes en Investigación
						h2 <span>Módulo I: </span> FORMULACIÓN DE PROYECTOS DE INVESTIGACIÓN BASADOS EN LA METODOLOGÍA DEL MARCO LÓGICO

	section.content
		.container
			.row
				.col-md-7
					article.welcome-program
						p 
							|Bienvenidos al programa para el Fortalecimiento de las Capacidades Docentes en Investigación, 
							|el cual logrará fortalecer las habilidades profesionales para el diseño de proyectos, así como 
							|el mejoramiento en el uso de las herramientas conceptuales y metodológicas de análisis de los 
							|fenómenos asociados a las causas, manifestaciones e impactos.
							
				.col-md-5
					article.access-program
						h2 Ingresa al programa
						h3 Regístrate con tu usuario y contraseña para acceder al Aula Virtual
						a.btn(href="#") Entrar

	section.content-teachers
		.container
			.row
				.col-md-2
					.docente
						img.img-responsive.img-circle(src="img/profesores/avatar.jpg")
						.redes-sociales
							ul.list-inline
								li.pull-left
									a(href="#" class="sprite-redes lk") Linkedin
								li.pull-right
									a(href="#" class="sprite-redes site") Site
						.name
							p Econ. Rubén Arturo Palomino Meneses
						.biografia
							p
								| Economista post graduado, especializado en Gestión del
								| Desarrollo bajo enfoque de Gerencia pública y Gerencia
								| privada empresarial y de ONG. Titulado, colegiado, 
								| posgraduado y especializado, en las Universidades UNCP, 
								| Huancayo; Agraria “La Molina” UNALM; UNMSM “San Marcos”; 
								| CEPAL Santiago Chile; Universidad de Antioquia Colombia; 
								| SEDESOL México; MBA en la U del Mar. Viña del Mar, Chile.

	section.content-process
		.container
			.row
				h2 Proceso de Investigación
				.col-md-3
					h3 <span>1</span> Participe de las sesiones presenciales
				.col-md-3
					h3 <span>2</span> Complete las actividades virtuales
				.col-md-3
					h3 <span>3</span> Envíe su trabajo o propuesta de Investigación
				.col-md-3
					h3 <span>4</span> Complete los 3 módulos y obtenda su constancia

	section.content-why
		h2 ¿Por qué seguir esta capacitación?
		h4 Describir la importancia de este evento a realizar

	section.content-ventajas
		.container
			.row
				.col-md-4
					article
						img(src="img/icon.png")
						h4 Documentación del curso
						p El material del curso estará disponible en línea 24x7 a través del Campus Virtual.
				.col-md-4
					article
						img(src="img/icon.png")
						h4 Disponibilidad
						p Podrá realizar las actividades desde cualquier lugar.
				.col-md-4
					article
						img(src="img/icon.png")
						h4 Tutoria permanente
						p Tendrás docentes que te apoyarán durante el desarrollo del curso.

	section.content-sponsors
		.container
			.row
				h2 Auspiciadores
				.col-md-6
					img(src="img/logo-san-marcos.png")
				.col-md-6
					img(src="img/logo-san-vri.png")

	footer
		p Copyright © 2015. Todos los derechos reservados

